@{
    ViewBag.Title = "Home Page";

    var date = ViewBag.Date;
    var orders = ViewBag.Orders;
}

<style>
</style>

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Side Project: 簡易訂購後台管理</h1>
        <p class="lead"></p>
    </section>


    <div class="container">
        <div>
            Time: @date.ToString("yyyy/MM/dd HH:mm:ss")
        </div>

        <div class="row">
            <div class="col-6">
                <h2>Orders List</h2>
            </div>
            <div class="col-6 text-end">
                @using (Html.BeginForm("Create", "Orders", FormMethod.Get))
                {
                    <button class="btn btn-primary float-end col-2" type="submit">Create</button>
                }
            </div>
        </div>

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Order id</th>
                    <th scope="col">Category</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Operation</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < orders.Count; i++)
                {
                    <tr>
                        <td>
                            @(i+1)
                        </td>
                        <td>
                            @orders[i].Category.ToString()
                        </td>
                        <td>
                            @orders[i].Name.ToString()
                        </td>
                        <td>
                            @orders[i].Price.ToString()
                        </td>
                        <td>
                            @orders[i].Customer.ToString()
                        </td>
                        <td>
                            <button class="btn btn-warning">Edit</button>
                            <button class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</main>