@model MVCCC.Models.OrderViewModel

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

@{
    ViewBag.Title = "Create";
}

<h2>Create a New Order</h2>

@using (Html.BeginForm("Create", "Orders", FormMethod.Post))
{
    <div class="form-group row my-3">
        @Html.LabelFor(m => m.OrderDto.CategoryId, "Category", new { @class = "col-form-label col-sm-2" })

        <div class="col-sm-10">
            @Html.DropDownListFor(m => m.OrderDto.CategoryId, Model.Categories, new { @class = "form-select" })
        </div>
    </div>

    <div class="form-group row my-3">
        @Html.LabelFor(m => m.OrderDto.Name, new { @class = "col-form-label col-sm-2" })

        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.OrderDto.Name, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group row my-3">
        @Html.LabelFor(m => m.OrderDto.Price, new { @class = "col-form-label col-sm-2" })
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.OrderDto.Price, new { @class = "form-control", type = "number" })
        </div>
    </div>

    <div class="form-group row my-3">
        @Html.LabelFor(m => m.OrderDto.Customer, new { @class = "col-form-label col-sm-2" })
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.OrderDto.Customer, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group row my-3">
        @Html.LabelFor(m => m.OrderDto.Quantity, new { @class = "col-form-label col-sm-2" })
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.OrderDto.Quantity, new { @class = "form-control", type = "number" })
        </div>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Submit</button>
}
